$transition-time: .1s;

$disabled-bg: bg-gray-300;
$disabled-text: text-gray-500;
$light-brightnes: 1.2;
$dark-brightness: .8;
$active-brightness: 1;

.button {
    @apply py-3 px-5 rounded-md flex gap-2 items-center;
    transition: filter $transition-time;

    &.icon {
        padding: 1.2rem;
        border-radius: 100%;
    }

    &.lighten {
        &:hover {
            filter: brightness($light-brightnes);
        }

        &:active {
            filter: brightness($active-brightness);
        }
    }

    &.darken {
        &:hover {
            filter: brightness($dark-brightness);
        }

        &:active {
            filter: brightness($active-brightness);
        }
    }

    &:disabled {
        @apply #{$disabled-bg} #{$disabled-text};

        &:hover {
            filter: none;
        }
    }
}